@import '../styleAbstracts/vars.scss';
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width:0 ;
    height: 100vh;
    background-image:$nav-bgi-gradient;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
    &__soc-media{
        height: 10vh;
        display: flex;
        font-size: $heading-font-size;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;
        li{
            padding: 0 1rem;
        }
    }
    .logo{
        text-align: center;
        font-size: 2rem;
        font-family: $logo-font-family;
        background-image:$main-color-gradient;
        background-clip: text;
        h2{
            padding:2rem 0;
            color: transparent;
        }
    }
    &__buttons{
        width: 100%;
        flex-grow: 1;
        &--button{
            display: block;
            font-size:$sec-font-size;
            font-family:$main-font-family;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            padding: 2rem 0;
            position: relative;
            user-select: none;
            
            span{
                position: absolute;
                top: 1rem;
                left: 4rem;
            }
            &::before{
                content: ' ';
                width: 100%;
                height: 100%;
                background-image:$main-color-gradient;
                transition: .3s;
                transform: translateX(-100%);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
.nav-bar.active{
    width: $nav-bar-width;
}
.icons{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
.nav-bar__buttons--button.active::before{
    transform: translateX(0);
}
@media only screen and (min-width:480px){

    .nav-bar.active{
        width:32vw;
    }
}
@media only screen and (min-width:769px){
    .nav-bar{
        width: 4rem;
    }
    .nav-bar.active{
        width:18rem;
    }
}

@media only screen and (min-width:1920px){
    html{
        font-size: 82%;
    }
}
@media only screen and (max-height:395px){
    .nav-bar.active{
        overflow-y: scroll;
    }
    .nav-bar::-webkit-scrollbar{
        width: 0;
    }
}