@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import './styleAbstracts/vars.scss';
*{
  margin:0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color:transparent;
}
html{
  font-size: 62.5%;
}
.wrapper{
  position: relative;
  box-sizing: border-box;
  width:100vw;
  min-height: 100vh;
}
.main-space{
  background-image:$main-space-bgi-gradient ;
  width: 100%;
  transition: .5s;
}

@media only screen and (min-width:769px){
  .main-space{
      padding-left:4rem;
  }
}